.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: #36D8B7;
  margin-bottom: 10px;
  font-size: 2.5em;
}

.App-title {
  font-family: 'VT323', monospace;
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: #222222;
  color: #36D8B7;
  font-family: 'Roboto', sans-serif;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #36D8B7;
    color: #222222;
    font-family: 'Roboto', sans-serif;
  }
}

#container {
  width:100vw;
  text-align: center;
  padding-top: 25px;
}

#left {
  float:left;
  width: 50%;
}

#right {
  float: right;
  width: 50%;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.centered-vh {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  display: none;
}
