table.center {
    margin-left:auto;
    margin-right:auto;
    border-spacing: 0;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
    height:100vh;
    width:100vw;
  }

div.github-picker {
  margin: 0 auto;
}

td {
  height:5px;
  width: 5px;
}

div.draggable-wrapper {
  display: inline-block;
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius:4px;
}

div.handle {
  padding: 5px;
  border-radius:4px;
  background: rgb(255, 255, 255);
  text-align: left;
  width: 60px;
  float:left;
}

div.handle-close {
  padding: 5px;
  float:right;
  border-radius:4px;
  background: rgb(255, 255, 255);
  text-align: right;
  width: 60px;
}

div.draggable-more {
  padding-left:10px;
}

.centered {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centered-vh {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#circle {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #36D8B7;
  float: left;
}

.Toastify__toast--default {
  background: #666666 !important;
}

.Toastify__toast-body { 
  font-family:  'Roboto', sans-serif; 
  background-color: #666666;
}


