.rcw-opened {
    width: 89% !important;
  }
  
  .rcw-header {
    background-color: #36D8B7 !important;
  }
  
  .rcw-launcher {
    background-color: #36D8B7 !important;
  }
  
  .rcw-message-text {
    color: #222 !important;
  }